<!DOCTYPE html>
<html lang="en"
      layout:decorate="~{base}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title>Cron Job Configurations</title>
    <script src="https://unpkg.com/htmx.org@1.9.2"></script>
    <script src="https://cdn.jsdelivr.net/npm/htmx.org/dist/ext/json-enc.js"></script>
    <!-- Tailwind CSS for styling -->
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.0.2/dist/tailwind.min.css" rel="stylesheet">
</head>
<body>
<div class="p-6" layout:fragment="content">

    <div class="flex justify-center items-center h-screen">
        <iframe
                allowtransparency="true"
                class="w-full h-full"
                frameborder="0"
                src="http://localhost:3001/public/dashboard/043f699b-cda4-4518-bb8e-7ef831b06139">
        </iframe>
    </div>


</div>
</body>
</html>
